.inputSearch {
  order: 1px solid #fff;
  background: transparent;
  border: 1px solid #000 !important;
  padding: 20px 24px;
  border-radius: 50px;
  width: 600px !important;
  color: black;
  font-size: 16px;
  margin-left: 16px;
  margin-bottom: 30px;
  margin-top: 26px;

  &::placeholder {
    color: black;
    font-size: 16px;
  }
}
